.initialState {
  display: grid;
  row-gap: 16px;

  &__fieldset {
    display: grid;
    justify-items: center;
    row-gap: 10px;
    border: none;
  }

  &__input {
    padding: 5px 10px;
    font-size: 1rem;
  }

  &__label {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
