@import "../../app/styles/mixins";

.table {
  border-collapse: collapse;
  width: min(100%, 600px);
  table-layout: fixed;

  th {
    text-align: start;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid black;
  }

  td {
    padding-block: 16px;
    word-break: break-all;
  }

  caption {
    caption-side: bottom;
  }

  &__addCustomerButton {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    width: min(320px, 100%);
    margin-inline: auto;

    @include button;
  }

  &__captionWrapper {
    display: grid;
    gap: 10px;
  }
}
